* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: stencil;
    src: url(./assets/StardosStencil-Bold.woff);
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 20fr 1fr;
}

.header {
    grid-row: 1 span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7vw;
    font-weight: 300;
}

.header h1 {
    font-family: stencil, Arial, Helvetica;
    text-align: center;
}

.main {
    grid-row: 2 span 1;
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.boards {
    grid-row: 1 span 1;
    display: flex;
    justify-content: center;
}

.left-panel,
.right-panel {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.left-panel {
    grid-template-columns: 1fr 2fr;
}

.right-panel {
    grid-template-columns: 2fr 1fr;
}

.left-ctrl-panel,
.right-ctrl-panel {
    grid-row: 2 / -1;
}

.left-ctrl-panel {
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.right-ctrl-panel {
    grid-column: 2 / span 1;
}

.ctrl-panel-title {
    font-family: stencil, Arial;
    font-size: 1.5vw;
}

button {
    background: none;
    border: 1px solid black;
    font-family: stencil, Arial;
    font-size: 1.2vw;
    height: 3vw;
    width: 10vw;
    box-shadow: 2px 2px 0 black;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}

.left-label,
.right-label {
    display: flex;
    grid-row: 1 / span 1;
    justify-content: center;
    align-items: flex-end;
    font-family: stencil;
    font-size: 2vw;
}

.left-label {
    grid-column: 2 / span 1;
}

.right-label {
    grid-column: 1 / span 1;
}

.left-container,
.right-container {
    grid-row: 2 / span 1;
    align-self: top;
    justify-self: center;
}

.left-container {
    grid-column: 2 / span 1;
}

.right-container {
    grid-column: 1 / span 1;
}

.board {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.row {
    display: flex;
}

.block {
    height: 2.5vw;
    width: 2.5vw;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.block:hover {
    background-color: #f0f0f0;
}

.whitespace {
    grid-row: 2 span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5vw;
}

.footer {
    grid-row: 3 span 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: stencil, Arial;
    font-size: 1.3vw;
}

.ship {
    background: repeating-linear-gradient(
        45deg,
        black,
        black 1px,
        white 1px,
        white 4px
    );

    border: 1px solid black;
}

.hit {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    pointer-events: none;
}

.hit::after {
    content: 'X';
}

.miss {
    background-color: white;
    border: 1px solid black;
    font-size: 1vw;
    pointer-events: none;
}

.miss::after {
    content: '⬤';
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    padding: 1vw 2vw;
    border: 0.25vw solid black;
    border-radius: 0.5vw;
    font-size: 1.4vw;
    font-weight: bold;
    opacity: 1;
    z-index: 1000;
    transition: opacity 0.3s ease;
    text-align: center;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.2);
    font-family: stencil;
}

.hidden {
    display: none;
}
