* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: stencil;
    src: url(./assets/StardosStencil-Bold.woff);
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 20fr 1fr;
}

.header {
    grid-row: 1 span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7vw;
    font-weight: 300;
}

.header h1 {
    font-family: stencil, Arial, Helvetica;
    text-align: center;
}

.main {
    grid-row: 2 span 1;
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.boards {
    grid-row: 1 span 1;
    display: flex;
    justify-content: center;
}

.left-panel,
.right-panel {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.left-panel {
    grid-template-columns: 1fr 2fr;
}

.right-panel {
    grid-template-columns: 2fr 1fr;
}

.left-ctrl-panel,
.right-ctrl-panel {
    grid-row: 2 / -1;
}

.left-ctrl-panel {
    grid-column: 1 / span 1;
}

.right-ctrl-panel {
    grid-column: 2 / span 1;
}

.left-label,
.right-label {
    display: flex;
    grid-row: 1 / span 1;
    justify-content: center;
    align-items: flex-end;
    font-family: stencil;
    font-size: 2vw;
}

.left-label {
    grid-column: 2 / span 1;
}

.right-label {
    grid-column: 1 / span 1;
}

.left-container,
.right-container {
    grid-row: 2 / span 1;
    align-self: top;
    justify-self: center;
}

.left-container {
    grid-column: 2 / span 1;
}

.right-container {
    grid-column: 1 / span 1;
}

.board {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.row {
    display: flex;
}

.block {
    height: 2.5vw;
    width: 2.5vw;
    border: 1px solid black;
}

.whitespace {
    grid-row: 2 span 1;
}

.footer {
    grid-row: 3 span 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
